body {
    background: white;/* black; */
}

textarea {
    font-family: monospace;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;

/*    color: white; */
    background: inherit;
}

/*抄自次碳酸钴的博客*/
::selection { background-color:#CCC; }
::-webkit-scrollbar {
    width:10px;
    height:10px;
    background:#CCC;
}
::-webkit-scrollbar-thumb {
    background:#999;
    border-radius:5px;
}
::-webkit-scrollbar-thumb:hover { background:#666; }
::-webkit-scrollbar-corner { background:#CCC; }
code::-webkit-scrollbar {
    width:10px;
    height:10px;
    background:#F6F6F6;
    border-top:1px solid #CCC;
    padding-top:1px;
}
code::-webkit-scrollbar-thumb {
    background:#EEE;
    border-radius:5px;
    border:1px solid #CCC;
    border-bottom:0px;
}
code::-webkit-scrollbar-thumb:hover { background:#DDD; }
