@import url(./Vollkorn.css);

::selection { background-color:#CCC; }
::-webkit-scrollbar {
    width:10px;
    height:10px;
    background:#CCC;
}
::-webkit-scrollbar-thumb {
    background:#999;
    border-radius:5px;
}
::-webkit-scrollbar-thumb:hover { background:#666; }
::-webkit-scrollbar-corner { background:#CCC; }
code::-webkit-scrollbar {
    width:10px;
    height:10px;
    background:#F6F6F6;
    border-top:1px solid #CCC;
    padding-top:1px;
}
code::-webkit-scrollbar-thumb {
    background:#EEE;
    border-radius:5px;
    border:1px solid #CCC;
    border-bottom:0px;
    }
code::-webkit-scrollbar-thumb:hover { background:#DDD; }

html, body {
    padding:1em;
    margin:auto;
    background:#fefefe;
}
body {
    font: 1.3em "Vollkorn", Palatino, Times;
    color: #333;
    line-height: 1.4;
    text-align: justify;
}
header, nav, article, main, footer {
    width: 700px;
    margin:0 auto;
}
article {
    margin-top: 4em;
    margin-bottom: 4em;
    min-height: 400px;
}
footer {
    margin-bottom:50px;
}
video {
    margin: 2em 0;
    border:1px solid #ddd;
}

nav {
    font-size: .9em;
    font-style: italic;
    border-bottom: 1px solid #ddd;
    padding: 1em 0;
}
nav p {
    margin: 0;
}

/* Typography
-------------------------------------------------------- */

h1 {
    margin-top:3em;
    font-weight: normal;
}
h2 {
    margin-top: 2em;
    font-weight: normal;
}
h3 {
    margin-top: 1em;
    font-weight: normal;
    font-style: italic;
}
p {
    margin-top:0;
    -webkit-hypens:auto;
    -moz-hypens:auto;
    hyphens:auto;
}
ul {
    list-style: square;
    padding-left:1.2em;
}
ol {
    padding-left:1.2em;
}
blockquote {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid #ddd;
}
pre {
    overflow: auto;
}
code {
    font-family: monospace, "Consolas", "Menlo", "Monaco", serif;
    font-size: .9em;
    background: white;
}
table {
	width: 100%;
}
a {
    color: #2484c1;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a img {
    border: none;
}
h1 a, h1 a:hover {
    color: #333;
    text-decoration: none;
}
hr {
    color : #ddd;
    height : 1px;
    margin: 2em 0;
    border-top : solid 1px #ddd;
    border-bottom : none;
    border-left: 0;
    border-right: 0;
}
p#heart{
    font-size: 2em;
    line-height: 1;
    text-align: center;
    color: #ccc;
}
.red {
    color:#B50000;
}

img {
    width: 100%;
}

/* Home Page
--------------------------- */

body#index li {
    margin-bottom: 1em;
}


/* iPad
-------------------------------------------------------- */
@media only screen and (max-device-width: 1024px) {
    body {
        font-size: 120%;
        line-height: 1.4;
    }
} /* @iPad */

/* iPhone
-------------------------------------------------------- */
@media only screen and (max-device-width: 480px) {
    body {
        text-align: left;
    }
    article, footer {
        width: auto;
    }
    article {
        padding: 0 10px;
    }
} /* @iPhone */

